// node-type-proability Page node//


.node-type-proability{


          .group-header .field.field-name-field-subtitulo.field-type-text-long.field-label-hidden.field-wrapper {
            margin: 0 auto;
            width: 50%;
            font-size: 30px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: -1px;
            color: #333333;
            border-bottom: 4px solid #0099cd;
            padding-bottom: 20px;
          }
          .field-name-field-imagenes img{
             margin-right: 10px;
             margin-bottom: 10px;

          }
          .ds-2col-stacked-fluid > .group-right{
             width: 45%;
          }
          .ds-2col-stacked-fluid > .group-left {
            float: left;
            width: 50%;
            margin-right: 56px;
          }


}


.page-prohability{
  .views-row-odd .group-left.medium-12.columns {
    float: right;
  }
  .views-field-field-subtitulo,.views-field-body{
    float: left;
  }
  .views-field-field-imagenes{
    width: 50%;
    float: right;
  }
}

