.page-historia{
    .views-row-1,.views-row-2,.views-row-3,.views-row-4,.views-row-5,.views-row-6{
      &:hover{
        border-bottom: 3px solid #0099cd;
        margin-bottom: 10px;
      }
    }

     li:hover{
        border-bottom: 3px solid #0099cd;
       .body{
        display:inline-block!important;
        height: 201px;
       }
       }


    .views-row-1,.views-row-2,.views-row-3,.views-row-4,.views-row-5,.views-row-6{
        float: left;
        width: 15%;
        text-align: center;
        margin: 50px 9px;
        .body{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 160px;
            line-height: 18px;
            display: block!important;
        }
        .field-name-title{
          h4{
            color:#0099cd;
          }
          }
        .image{
          img{
            border-radius:50%;
          }
        }
        .field-name-node-link{
          a{

          }
        }
    }
    .block-views-d3216d34d00b40bb8b1a610234e3c626{
        display: inline-block;
        position: relative;
        background-image: url('../images/bg_ruta_historia.png');
        background-repeat: repeat-x;
        background-position-y: 37px;
        background-position-x: 0;
        background-size: 100% 90px;
        text-align: center;
        width: 100%;
        .view-id-historia_nodequeue_{
          width: 100%;
          margin: 0 auto;
          display: inline-block;
         .view-content{
            width: 100%;
            margin-top: 31px!important;
          }
        }
          .flexslider{
            width: 100%;
            background: rgba(255, 255, 255, 0)!important;
            .flex-next{
              height: 50px;
            }
            .flex-prev{
              height: 50px;
            }
            .flex-viewport {
              height: 360px;
              width: 1140px;
              margin: 0 auto;
            }
            .body{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 160px;
            line-height: 18px;
            display: none;
            }
            .field-name-title{
             h4{
              color:#0099cd;
                }
            }
            .slides{
              img {
                  width: 90px!important;
                  border-radius: 50%!important;
                  margin: 0 auto!important;
                }
              }
            }
        }


  .block-block-12{

    .block-content{
      div{
        h2{
          margin: 0 auto;
          width: 1140px;
          margin-bottom: 15px;
          text-align: center;
        }
        hr{
          border: 3px solid #0099cd;
          width: 20%;
          margin: 0 auto;
          margin-bottom: 50px;
        }
        p{
          text-align: center;
          margin: 30px auto;
        }
      }
    }
  }


}
