.page-historia{

    .views-row-1,.views-row-2,.views-row-3,.views-row-4,.views-row-5,.views-row-6{
        float: left;
        width: 15%;
        text-align: center;
        margin: 0 9px;
        .image{
          img{
            border-radius:50%;
          }
        }
    }
  .block-block-12{
    .block-content{
      div{
        h2{
          margin: 0 auto;
          width: 79%;
          margin-bottom: 15px
        }
        hr{
          border: 3px solid #0099cd;
          width: 20%;
          margin: 0 auto;
          margin-bottom: 50px;
        }
        p{
          text-align: center;
        }
      }
    }
  }


}
