
.page-clinica-de-rehabilitaci-n{


          .views-row.views-row-1.views-row-odd.views-row-first {
            float: left;
          }
          .views-row.views-row-3.views-row-odd {
            float: left;
          }
          .views-row.views-row-6.views-row-even{
           float: left;
          }
          .views-row.views-row-2.views-row-even{
           float: left;

          }
          .views-row.views-row-4.views-row-even{
          float: left;

          }
          .views-row.views-row-5.views-row-odd{
            width:255px;
            position: absolute;
            margin: 0 0 0 75%;
          }
          .views-row.views-row-5.views-row-odd div span img{
              height: 600px;
          }
}
