.maintenance-page{
  #page{
    top: 138px;
    position: relative;
      zoom: 0.9;
    #header{
      text-align: center
    }
    #container{
      text-align: center;
      #main{
        #main-squeeze{
          #content{
            #content-content{
              width: 50%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

}
