// node-type-proability Page node//


.node-type-proability{


          .group-header .field.field-name-field-subtitulo.field-type-text-long.field-label-hidden.field-wrapper {
            margin: 0 auto;
            width: 50%;
            font-size: 30px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: -1px;
            color: #333333;
            border-bottom: 4px solid #0099cd;
            padding-bottom: 20px;
          }
          .field-name-field-imagenes img{
             margin-right: 10px;
             margin-bottom: 10px;

          }
          .ds-2col-stacked-fluid > .group-right{
             width: 45%;
          }
          .ds-2col-stacked-fluid > .group-left {
            float: left;
            width: 50%;
            margin-right: 56px;
          }


}
.page-proability{
    .row{
      margin-bottom: 30px;
    }
    .views-field-field-imagenes{
      width: 50%;
      float: right;
    }
    .left-d{
      float: left;
    }
    .right-d{
      float: right;
    }
    .view-header{
      margin-bottom: 80px;
    }

    .title-header {
      border-bottom: 4px solid #0099cd;
      bottom: 0;
      content: ' ';
      left: 0;
      width: 300px;
      margin: 0 auto;
    }
    .first-color{
      color: #fff;
      background-color: #3A5D95;
      .view-header{
        font-size: 24px;
        position: relative;
        text-transform: uppercase;
        h2{color:#fff}
        hr {
          border: 2px solid #0099cd;
          bottom: 0;
          content: ' ';
          left: 0;
          width: 250px;
        }
      }
      #flexslider-3{
        background-color: #3A5D95!important;
        border: 0px solid #3A5D95!important;
        }
    }
    .second-color{
      background-color: #92CD4D;;
      color: #fff;
      .view-header{
        font-size: 24px;
        position: relative;
        text-transform: uppercase;
        h2{color:#fff}
        hr {
          border: 2px solid #0099cd;
          bottom: 0;
          content: ' ';
          left: 0;
          width: 250px;
        }
      }
      #flexslider-1{
        background-color: #92CD4D!important;
        border: 0px solid #92CD4D!important;
      }
    }
    .third-color{
      color: #fff;
      background-color: #C70C21;;
      .view-header{
        font-size: 24px;
        position: relative;
        text-transform: uppercase;
        h2{color:#fff}
        hr {
          border: 2px solid #0099cd;
          bottom: 0;
          content: ' ';
          left: 0;
          width: 250px;
        }
      }
      #flexslider-2{
        background-color: #C70C21!important;
        border: 0px solid #C70C21!important;
      }
    }
}

