@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .block-views-nodequeue-4-propuesta-valor {
        display: none;
    }
    .view-display-id-block_servicios_destacados{
    	.view-content{
    		width:100%!important;
    	}
    }
    .quicktabs-style-nostyle{
    		width:100%!important;
    }
    .view-plan-padrino-casos-exitosos,.view-id-historia_nodequeue_{
    	#flexslider-1{
    		.flex-viewport{
    			width: 100%!important;
    		}
    	}
    }
    .block-ruta-apadrinar{
    	.view-display-id-block_ruta_apadrinar{
    			width: 100%!important;
    	}
    }
    .page-historia .block-block-12 .block-content div h2{
    	width: 100%!important;
    }

    .page-clinica-rehabilitacin {
    	
		.views-row-1{
			float: left;
		}
		.views-row-2{
			float: left;
		}
		.views-row-3{
			float: left;
		}
		.views-row-4{
			float:none!important;
		}
		.views-row-5{
			width: auto!important;
			float:left;
			margin:0!important;
			img{
				width: 298px;
			}
		}
		.views-row-6{
			float: none!important;
			display: inline-block;
			margin: 0px 0 0 300px !important;
		}
		.views-row-7{
			float: left;
			left: 24px;
		    margin-left: 300px;
		}
		
	}	 

}



@media only screen and (min-device-width : 481px) and (max-device-width : 800px) {
    .block-views-nodequeue-4-propuesta-valor {
        display: none;
    }
    .view-display-id-block_servicios_destacados{
    	.view-content{
    		width:100%!important;
    	}
    }
    .quicktabs-style-nostyle{
    		width:100%!important;
    }
    .view-plan-padrino-casos-exitosos,.view-id-historia_nodequeue_{
    	#flexslider-1{
    		.flex-viewport{
    			width: 100%!important;
    		}
    	}
    }
    .block-ruta-apadrinar{
    	.view-display-id-block_ruta_apadrinar{
    			width: 100%!important;
    	}
    }
    .page-historia .block-block-12 .block-content div h2{
    	width: 100%!important;
    }
} 