@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .block-superfish{
        margin-top: 20px;
    }

    .block-views-nodequeue-4-propuesta-valor {
        //display: none;
    }
    .view-display-id-propuesta_valor .head-slider {
    display: none;
}
    #views_slideshow_slider_slider_nodequeue_4-propuesta_valor
    {
        //display: none;
    }
    .view-display-id-block_servicios_destacados .service{
        display: initial!important;
    }
    

    .view-display-id-block_servicios_destacados{ 
    	.view-content{
    		width:100%!important;
    	}
    }
    .quicktabs-style-nostyle{
    		width:100%!important;
    }
    .view-plan-padrino-casos-exitosos,.view-id-historia_nodequeue_{
    	#flexslider-1{
    		.flex-viewport{
    			width: 100%!important;
    		} 
    	} 
    	#flexslider-2{
    		.flex-viewport{
    			width: 100%!important;
    		}
    	}
    }
    .block-ruta-apadrinar{
    	.view-display-id-block_ruta_apadrinar{
    			width: 100%!important;
                &:before{
                    left: 0px;
                }

    	}
    }
    .page-historia 
    {.block-block-12 .block-content div h2{
    	width: 100%!important;
    }
    .block-views-d3216d34d00b40bb8b1a610234e3c626{
        display: none;
    }
    }

    .page-clinica-rehabilitacin {
    	
	   .views-row-5{
        	position: relative!important; 
            margin: 0!important;
        }
	
		
	}
	.page-node-73,.page-node-72,.node-type-noticias{
	   .group-right{
        width: 100%;
       }
       .group-left{
        width: 100%;
       }    		 
	}
	.page-servicios-plan-padrino{
        .block-views-como-apadrinar-block-1{
            .block-title{
                display: inline-block;
                width: 100%;
            }
        }
	  .block-ruta-apadrinar .views-row{
            display: inline;
      
        .view-display-id-block_ruta_apadrinar{
            &:after{
                display: none;
            }
        }
      }
	.view-id-plan_padrino{

            .node-planes-padrinos {
            
                .field-name-field-info-relevante{
                    margin: 0;
                    width: 100%;
                }
                .image{
                    float: none;
                    text-align: center;

                }
                .field-name-title{
                    h4{
                        margin: 0;
                        text-align:center; 
                    }

                }
                .body{
                    width: 100%;
                    margin-left: 0;
                }
            }
            .group-right{
                .block-title{
                    &:after{
                        top: 80px;
                    }
                }
            }
            .node-casos-rehabilitacion{
               .field-name-field-info-relevante{
                    margin: 0;
                }
                .image{
                    float: none;
                    text-align: center;

                }
                .field-name-title{
                    h4{
                        margin: 0;
                        text-align:center; 

                    }

                }
                .body{
                    width: 100%;
                    margin-left: 0;
                } 
            }

            
        }
        .block-casos-exitosos{
                display: none;
            }
    }

    .sf-menu li {
         margin-right: 15px!important;
    }

    .view-como-apadrinar{
        .block-entityform-block{
            .block-content{
                display: block;
                margin: 0 auto;
                width: 80%; 
                form{
                    margin: 0 auto;
                    text-align:center;
                }
            }
        }
    }

    .facebook-feed-picture{
    background: url('http://pbs.twimg.com/profile_images/460892253326569473/GXsqpPmO_normal.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
        img{
            display: none;
        }
    }
   .view-display-id-block_servicios_destacados{
    background:#FBFBFB;
   } 
   .rteright{
     strong{
        font-size: 11px;
     }
   }
   .aliados-destacados {
    .quicktabs-tabs{ 
        a {
            font-size: 17px!important;
            padding: 16px 6px 11px!important;

        }
    }
   } 
   #flexslider-2{
       .flex-viewport {
            height: 55px;
        }
    }

    .page-servicios-proyectos-especiales{
        #flexslider-2{
           .flex-viewport {
                height: 234px!important;
            }
        }
    }


    .page-proability{
        .view-id-prohability{
            .view-header{
                .title-header{
                    font-size: 18px;
                    line-height: 19px;
                }
            }
            .view-content{
                .views-row-1{
                    .row{
                        .views-field-body{
                            width:100%;
                            padding:0!important;
                            .subtitulo{
                                font-size: 36px;
                            }
                            .body{
                                    padding: 8px 15px;
                            }
                            .content {
                                margin-left: 10px;
                            }
                        }
                        .views-field-field-imagenes{
                            display:none!important;

                        }
                    }
                }
                .view-header{
                    width: 100%;
                    left:0;
                }
                .flex-control-nav{
                    width: 100%;
                    left: 0!important;
                }
            }
        }
    }

.form-contacto{
        padding: 0px!important;
}


.l-footer-wrapper{
    .block-block-3{
            text-align: center;
    }
    .block-block-4{
        .block-content{
            text-align:center; 
            .rteright{
                text-align: center;
            }
        }
    }
    .block-block-5{
        text-align: center;
    }
}

.block-block-1{
    margin-top: 10px;
}

}


.form-contacto .webform-component-textarea {
    padding: 0 0.5em;
}





@media only screen and (min-device-width : 481px) and (max-device-width : 800px) {
    
    .block-views-nodequeue-4-propuesta-valor {
        //display: none;
    }
    .views-slideshow-controls-bottom.clearfix {
        display: none;
    }
    .view-display-id-block_servicios_destacados{
    	.view-content{
    		width:100%!important;
    	}
    }
    .quicktabs-style-nostyle{
    		width:100%!important;
    }
    .view-plan-padrino-casos-exitosos,.view-id-historia_nodequeue_{
    	#flexslider-1{
    		.flex-viewport{
    			width: 100%!important;
    		}
    	}
    }
    .block-ruta-apadrinar{
    	.view-display-id-block_ruta_apadrinar{
    			width: 100%!important;
    	}
    }
    .page-historia .block-block-12 .block-content div h2{
    	width: 100%!important;
    }

    .aliados-destacados{ 
        .quicktabs-tabs {
            a{
                padding: 16px 33px 8px;
            }
        }
    }


} 



@media only screen and (min-device-width : 764px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .block-views-nodequeue-4-propuesta-valor {
       display: block;
        #views_slideshow_slider_slider_nodequeue_4-propuesta_valor{
            display: none;
        }
    }
    .block-views-503cb503394166f7526c3185ba74b711 .view-display-id-block_servicios_destacados .view-content{
        width: 100%;
    }

}

/*EQUIPOS DE ESCRITORIO*/
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 

    .block-superfish-3{
        display: none;
    }

}
/*EQUIPOS DE ESCRITORIO*/



/*TABLETS Y IPADS*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

    .block-superfish-1{
        display: none;
        
    }
    .page-servicios-plan-padrino{
        .main{
            .view-plan-padrino{  
                section{
                    width: 100%;
                }
            }

        }
    }
}
/*TABLETS Y IPADS*/

 

/*Telefonos movil*/
@media only screen and (max-width: 40em) { 
.block-superfish-3{
        display: none;
    }


}

/*Telefonos movil*/
