//---------------------------------------*
// TEMP
//---------------------------------------*


//---------------------------------------*
// Bourbon
//---------------------------------------*
$em-base: 14px;


//---------------------------------------
// Foundation
//---------------------------------------
/*$row-width: rem-calc(1140);*/
$row-width: 1140px;
$total-columns: 24;
/*$column-gutter: rem-calc(20);*/
$column-gutter: 20px;


//---------------------------------------
// Colors
//---------------------------------------
$blue:          #0099cd;
$blue_d:        #244a88;

$blue_menu:     #19a3d2;
$blue_menu_d:   #008cbc;

$gray:          #666666;
$gray_l:        #f3f3f3;

$green:         #92cd4d;

$red:           #d80323;

$orange:        #fc8d31;
$darkorange: #000;

$white:         #fff;

//-----Social Networks------
$fb_color:      #425f9c;
$tw_color:      $blue;
$yb_color:      #cf2635;


//---------------------------------------*
// Common Measures
//---------------------------------------*
$input_bg:      $gray_l;

$arrows_color:      #ccc;
$body_font_size:    14px;
$body_font_color:   #999;
$title_font_color:  #444;
$border_radius:     5px;
$margin_size:       20px;

.text {
        color: $body_font_color;
        font-size: 13px;
        line-height: 1.4;
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
