//---------------------------------------*
// TEMP
//---------------------------------------*

//---------------------------------------
// Foundation
//---------------------------------------
/*$row-width: rem-calc(1140);*/
$row-width: 1140px;
$total-columns: 24;
/*$column-gutter: rem-calc(20);*/
$column-gutter: 20px;


//---------------------------------------
// Colors
//---------------------------------------
$blue:          #0099cd;
$blue_d:        #244a88;

$blue_menu:     #19a3d2;
$blue_menu_d:   #008cbc;

$gray:          #666666;
$gray_l:        #f4f4f4;

$green:         #92cd4d;

$red:           #d80323;

$orange:        #fc8d31;

$white:         #fff;

$input_bg:      $gray_l;


//---------------------------------------*
// Common Measures
//---------------------------------------*
$body_font_size:    14px;
$body_font_color:   #999;
$border_radius:     5px;
$margin_size:       20px;

