
.view-display-id-page_cooperantes{
  .views-row-even{
    .group-left {
      float: right;
    }
  }
  .field.field-name-title.field-type-ds.field-label-hidden.field-wrapper{
    h2{
      margin: 0;
    }
    &:after {
        border-bottom: 4px solid #0099cd;
        content: ' ';
        padding-left: 240px;
    }
  }

}
