
.view-display-id-page_cooperantes{
  .views-row-even{
    .group-left {
      float: right;
    }
  }
  .field.field-name-title.field-type-ds.field-label-hidden.field-wrapper:after {
    border-bottom: 4px solid #0099cd;
    bottom: 0;
    content: ' ';
    padding: 0 42px;
  }

}
