
.view-display-id-page_cooperantes{
  .views-row-even{
    .group-left {
      float: right;
    }
  }
  .field-name-field-subt-tulo{

        font-family: 'Raleway', sans-serif;
        color: #444;
        font-size: 16px

  }
  .field.field-name-title.field-type-ds.field-label-hidden.field-wrapper {
    font-size: 7px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .field.field-name-title.field-type-ds.field-label-hidden.field-wrapper{
    h2{
      margin: 0;
    }
    &:after {
        border-bottom: 4px solid #0099cd;
        content: ' ';
        padding-left: 240px;
    }
  }

}
