//---------------------------------------*
// Casos Exitosos
//---------------------------------------*
.block-casos-exitosos {
    text-align: center;

    .block-title {
        text-transform: uppercase;
    }

    .view {
        padding-top: $margin_size * 2;
        position: relative;
        $line_width: 250px;

        &:before {
            border-bottom: 4px solid $blue;
            top: 0;
            content: ' ';
            position: absolute;
            width: $line_width;
            left: ($row-width - $line_width) / 2;
        }
    }

    .views-row {
        .image img {
            @include photo_img_style();
        }
    }
}


//---------------------------------------*
// Ruta para apadrinar
//---------------------------------------*
.block-ruta-apadrinar {

    background: $green url('../images/bg_ruta_apadrinar.png') center 112px no-repeat;
    border-bottom: 1px solid $white;
    padding: ( $margin_size * 2 ) 0;

    .block-title {
        color: $white;
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
    }

    /*-----Título de cada item------*/
    .field-name-field-subtitulo {
        padding: 12px 12px 0px;
        position: relative;
        height: 138px;
        top: 20px;

        transition: .3s top ease-in-out;

        p {
            font-size: 13px;
            line-height: 13px;
            margin: 0;
            text-transform: uppercase;
        }

        strong {
            display: inline-block;
            font-size: 20px;
            font-weight: normal;
            line-height: 12px;
            margin-bottom: 8px;
        }
    }

    .text-secondary {
        background: $white;
        border-bottom: 8px solid  $blue;
        color: $body_font_color;
        font-size: 12px;
        min-height: 110px;
        padding: 0 10px 10px;
        position: absolute;
        top: 215px;
        transition: .3s top ease-in-out;
        width: 204px;
        opacity:0;
    }


    /*-----Rollover------*/
    .views-row:hover {
        .field-name-field-subtitulo {
            background: $white;
            color: $blue;
            top: 5px;
        }

        .text-secondary {
            /*display: block;*/
            opacity: 1;
            top: 200px;
        }
    }


    /*-----------*/
    .view {

        @include row();
        padding-top: $margin_size;
        position: relative;

        $line_width: 250px;
        &:before {
            border-bottom: 4px solid $blue;
            top: 0;
            content: ' ';
            position: absolute;
            width: $line_width;
            left: ($row-width - $line_width) / 2;
        }
    }

    .views-content {
        display: table;
    }

    .views-row {
        color: $white;
        display: table-cell;
        padding: 0 12px;
        width: 20%;
        text-align: center;
    }
}

.view-id-plan_padrino{
    .image{
        img{
            border-radius: 50%;
            border: 7px solid #eee;
            width: 130px;
        }
    }

    h2.block-title {
      border-bottom: 4px solid #0099cd;
      bottom: 0;
      content: ' ';
      /* left: 0; */
      /* position: absolute; */
      width: 250px;
      text-transform: uppercase;
      font-size: 28px;
    }
    .mayusculas{
          color: #000;
          margin: 20px 0;
          p{
            span{
              font-family: raleway;
              font-size: 17px;
              line-height: 24px;
              word-spacing: 3px;
              font-weight: 500;
            }
          }

    .node-planes-padrinos{

    }

    }
}
