//---------------------------------------*
// Casos Exitosos
//---------------------------------------*
.block-casos-exitosos {
    text-align: center;

    .block-title {
        text-transform: uppercase;
    }

    .view {
        padding-top: $margin_size * 2;
        position: relative;
        $line_width: 250px;

        &:before {
            border-bottom: 4px solid $blue;
            top: 0;
            content: ' ';
            position: absolute;
            width: $line_width;
            left: ($row-width - $line_width) / 2;
        }
    }

    .views-row {
        .image img {
            @include photo_img_style();
        }
    }
    .flexslider{
            margin: 0px 0 9px!important;
            width: 100%;
            background: rgba(255, 255, 255, 0)!important;
            .node-casos-rehabilitacion{
                margin: 0px 10px;
            }
            .flex-next{
              height: 50px;
            }
            .flex-prev{
              height: 50px;
            }
            .flex-viewport {
              height: 360px;
              width: 1140px;
              margin: 0 auto;
            }
            .body{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 160px;
            line-height: 18px;

            }
            .field-name-title{
             h4{
              color:#0099cd;
                }
            }
            .slides{
              img {
                  width: 90px!important;
                  border-radius: 50%!important;
                  margin: 0 auto!important;
                }
              }
            }
}


//---------------------------------------*
// Ruta para apadrinar
//---------------------------------------*
.block-ruta-apadrinar {

    background: $green url('../images/bg_ruta_apadrinar.png') center 112px no-repeat;
    border-bottom: 1px solid $white;
    padding: ( $margin_size * 2 ) 0;

    .block-title {
        color: $white;
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
    }

    /*-----Título de cada item------*/
    .field-name-field-subtitulo {
        padding: 12px 12px 0px;
        position: relative;
        height: 138px;
        top: 20px;

        transition: .3s top ease-in-out;

        p {
            font-size: 13px;
            line-height: 13px;
            margin: 0;
            text-transform: uppercase;
        }

        strong {
            display: inline-block;
            font-size: 20px;
            font-weight: normal;
            line-height: 12px;
            margin-bottom: 8px;
        }
    }

    .text-secondary {
        background: $white;
        border-bottom: 8px solid  $blue;
        color: $body_font_color;
        font-size: 12px;
        min-height: 110px;
        padding: 0 10px 10px;
        position: absolute;
        top: 215px;
        transition: .3s top ease-in-out;
        width: 204px;
        opacity:0;
    }


    /*-----Rollover------*/
    .views-row:hover {
        .field-name-field-subtitulo {
            background: $white;
            color: $blue;
            top: 5px;
        }

        .text-secondary {
            /*display: block;*/
            opacity: 1;
            top: 180px;
        }
    }


    /*-----------*/
    .view {

        @include row();
        padding-top: $margin_size;
        position: relative;

        $line_width: 250px;
        &:before {
            border-bottom: 4px solid $blue;
            top: 0;
            content: ' ';
            position: absolute;
            width: $line_width;
            left: ($row-width - $line_width) / 2;
        }
    }

    .views-content {
        display: table;
    }

    .views-row {
        color: $white;
        display: table-cell;
        padding: 0 12px;
        width: 20%;
        text-align: center;
    }
}




$mleft : 150px;


.page-servicios-plan-padrino{

     #page-title{
        background-image: url('../images/header-padrino.jpg');
        height: 150px;
        padding: 65px 155px;
    }
    .view-plan-padrino-casos-exitosos{
        .body{
            height: 140px;
        }
        .field-name-title{
            h4{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}


.view-id-plan_padrino{
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(204, 204, 204);
  padding-bottom: 30px;
    .image{
        img{
            border-radius: 50%;
            border: 7px solid #eee;
            width: 130px;
        }
    }
    h2.block-title {
      text-transform: uppercase;
      font-size: 28px;
      margin: 0 0 50px 0;
    }
    h2.block-title:after {
      border-bottom: 4px solid #0099cd;
      /* bottom: 0; */
      content: ' ';
      left: 0;
      position: absolute;
      width: 260px;
      top:50px;
      margin-left: 9px;
    }
    .mayusculas{
          color: #000;
          margin: 20px 0;
          p{
            span{
              font-family: raleway;
              font-size: 17px;
              line-height: 24px;
              word-spacing: 3px;
              font-weight: 500;
            }
          }
    }
    .node-planes-padrinos{
        .image {
            float: left;
        }
        .field-name-title{
            h4{
                color: #0099CD;
                margin-left: $mleft;
                text-transform: uppercase;
            }
        }
        .body{
            width: 76%;
            margin-left: $mleft;
        }
        .field-name-field-info-relevante{
            margin-left: 150px;
            background-color: #0099CD;
            color: #fff;
            padding: 9px 16px;
            width: 380px;
            a{color:#fff;
              text-decoration: underline;
             }
        }
    }


}

.view-plan-padrino-casos-rehabilitacion{
    .node-casos-rehabilitacion{
        .image {
            float: left;
        }
        .field-name-title{
            h4{
             color: #0099CD;
               margin-left: $mleft;
               text-transform: uppercase
            }
        }
        .body{
            width: 76%;
            margin-left: $mleft;
        }
        .field-name-node-link{
            margin-left: $mleft;
        }
    }
}
.page-plan-padrino-todos{
    .view-id-plan_padrino{
        .view-content{
            .views-row {
              border-bottom: 1px solid #ccc;
              margin-bottom: 20px;
              padding-bottom: 20px;
             }
            .image{
                margin-left: 16px;
                margin-right: 40px;
                img{
                    border-radius: 0%;
                    border: 7px solid #eee;
                    width: 160px;
                    height: 160px;
                }
            }
            .field-name-title{
             margin-bottom: 26px;
                h2{
                    line-height: 26px;
                }
            }
            .body{
                margin-left: 0;
                width: 60%;
                display: inline-block;
                font-size: 13px;
                p{
                   font-size: 13px;
                }
            }
            .field-name-field-info-relevante{
                margin-left: 0;
                width: 60%;
                display: inline-block;
            }
            .field-name-title{
                &:after {
                  border-bottom: 4px solid #0099cd;
                  content: ' ';
                  position: absolute;
                  width: 250px;
                }
            }
        }
    }
}
