//---------------------------------------*
// Testimonios: Widget;
//---------------------------------------*

.view-id-testimonios_widget {

    .image {

        float: left;
        margin-right: $margin_size / 2;

        img {
            @include photo_img_style();
        }
    }

    .body {
        clear: both;
        padding-top: $margin_size / 2;
    }
}