// Non-modular or client styles for .l-footer region.
.l-footer-wrapper {
    background: #f0ebe7;
    padding: ($margin_size * 3) 0 0;
}

.l-footer {
    font-size: inherit;

    p {
        font-size: inherit;
    }
}

.block-block-3{
	min-width:233px;
	max-width:233px;
}
.block-block-4{
  max-width: 295px;
  min-width: 295px;
}
.block-block-5{
	max-width: 295px;
  min-width: 295px;
}
.block-block-6{
 	max-width: 295px;
  min-width: 295px;
 }