// Non-modular or client styles for .l-header region.

.l-header-before-wrapper {
    background: #f3f3f3;
    border-bottom: 1px solid #fff;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;

    p {
        font-size: inherit;
        margin-bottom: 0;
    }
}

.l-header {
    margin: $margin_size 0;
}

