// Non-modular or client styles for .l-header region.

.l-header-before-wrapper {
    background: #f3f3f3;
    border-bottom: 1px solid #fff;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    padding-top: 6px;

    p {
        font-size: inherit;
        margin-bottom: 0;
    }
}

.l-header {
    background: url('../images/bg_header_shadow.png') center top no-repeat;
    margin: 0;
    padding: $margin_size 0;
}

//---------------------------------------*
// Formulario Busqueda
//---------------------------------------*
.search-form {
    text-align: right;

    .form-submit {

    }

}

.search-input,
.search-submit {

}
button#edit-submit{
  background: url(../images/search.png) no-repeat;
    color: rgba(200, 200, 200, 0);
  background-size: 17px 19px;
  background-position: 18px 4px;
}


.search-submit.fleft {
  background-color: #C8C8C8;
  height: 28px;
}
