// Common abstract classes to extend or parametrics are stored here.


//---------------------------------------*
//  Separador Horizontal
//  (Franja Hz de 5 Colores, bajo el Header, y sobre el footer)
//---------------------------------------*
.hr-stripes {
    background: $gray;
    .gradient { filter: none; } //IE9 Support Multi Stop SVG Gradients
}

.hr-stripes-4-rows div {
    @include stripes_4_rows();
    height: 7px;
}


//---------------------------------------*
// Breadcrumbs
//---------------------------------------*
.breadcrumbs {
    border: none;
    background: none;
    padding: 0;

    a {
        font-size: 11px;
        color:  $body_font_color;
    }

    a:hover,
    .current a {
        color: $blue;
    }
}

//---------------------------------------*
// Paginador
//---------------------------------------*
.pagination.pager {
    margin: ($margin_size * 2) 0;

    a {
        background: #ccc;
        color: $white;
        display: inline-block;
        font-size: 20px;
        padding: 6px 16px;
        text-transform: uppercase;
    }

    a:hover,
    .current a {
        background: $blue;

    }
}


//---------------------------------------*
// Views
//---------------------------------------*
.page-node,
.views-page {
    #page-title {
        background: $blue; 
        color: $white;
        font-size: 30px;
        line-height: 30px;
        margin: 0 0 $margin_size;
        padding: $margin_size ($margin_size * 2);
        text-transform: uppercase;
    }
}

a.flex-prev{
    height: 50px;
}

a.flex-next{
    height: 50px;
}


#flexslider-2{
    a.flex-prev{
     height: 43px;
    }

    a.flex-next{
     height: 43px;
    }

}