// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.
// Body

// html { font-size: 110%; }

body {
    @include font_body();
    font-size: $body_font_size;
    color: $body_font_color;
}



// Headings
//------------------------------------------
h1, h2, h3,
h4, h5, h6 {
    @include font_title();
}

ul, ol, dl, p, div {
    font-size: $body_font_size;
}

// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Forms & Inputs
//-----------------------------------------------------------------------------
label {
    color: $body_font_color;
    font-size: em(14);
    display: inline-block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
.form-text,
.form-textarea {
    background: $input_bg;
    @include font_body();
    font-size: em(14);
}

input[type=submit],
.form-submit {
    @include btn($white, $blue);
}
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

select,
.form-select {
    @include font_body();
    font-size: em(14);
}
