.widget {
    .block-title {
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: $margin_size / 2;

        &:after {
            border-top: 4px solid $blue;
            content: '';
            display: block;
            margin-top: $margin_size;
            width: 250px;
        }

        a {
            color: $title_font_color;

            &:hover {
                color: $blue;
            }
        }
    }

    .field-name-post-date {
        color: $orange;
        font-size: 13px;
        font-style: italic;
    }

    .field-name-title {
        h2 {
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 27px;
        }

        a {
            color: $title_font_color;

            &:hover {
                text-decoration: underline;
            }
        }

    }


    // Flexslider
    .flexslider {
        border: none;
    }

    .flex-control-nav {
        border-top: 1px solid $arrows_color;
        padding-top: $margin_size;
        text-align: left;

        a {
            background: #d5d5d5;
            @include box_shadow( none );
        }

        a.flex-active {
            background: #7a7a7a;
        }

    }

    //============


    .image {
        img {
            border: 3px solid $gray_l;
            width: auto;
        }
    }
}

.block-block-11 h2.block-title{

  border-bottom: 4px solid;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border-color: #0099CD;
  text-transform: uppercase;

}



.flex-viewport{

      height: 234px;
}

.block-views-nodequeue-4-propuesta-valor{
    height: 657px;
}
.head-slider {
    h3.title{
        padding: 0 2em 20px 2em!important;
    }
    margin: 0 280px;
    padding-bottom: 45px;
    text-align: center;
    &:after {
            border-top: 4px solid $blue;
            content: '';
            display: block;
            margin-left: 150px;
            width: 270px;

    }
}

.block-webform-client-block-216{
    margin-bottom: 10px;
h2{
   font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
&:after{
        border-top: 4px solid #0099cd;
        content: '';
        display: block;
        margin-top: 20px;
        width: 250px;
        }
}
    .block-content{
        background-color: #0099CD;
        form{
            div{
                width: 97%;
                text-align: center;
                margin: 0 auto;
                padding-top: 10px;
            .form-item{
                text-align: left;
            }
            }
            label{display: none;}
            input,select {
               width: 100%;
               color: #BFBBBB;
               margin:0;
           }
           select {margin-bottom: 20px;}
        }
    }

}


.block-webform-client-block-217{
    margin-bottom: 10px;
h2{
   font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
&:after{
        border-top: 4px solid #0099cd;
        content: '';
        display: block;
        margin-top: 20px;
        width: 250px;
        }
}
    .block-content{
        background-color: #0099CD;
        form{
            div{
                width: 97%;
                text-align: center;
                margin: 0 auto;
                padding-top: 10px;
            .form-item{
                text-align: left;
            }
            }
            label{display: none;}
            input,select {
               width: 100%;
               color: #BFBBBB;
               margin:0;
           }
           select {margin-bottom: 20px;}
        }
    }

}
.facebook-feed-picture{
    background: url('http://pbs.twimg.com/profile_images/460892253326569473/GXsqpPmO_normal.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
        img{
            display: none;
        }
    }
    .block-blockify-blockify-logo{
        margin-bottom:20px;
    }

    .responsive-menus{
       
        .toggler{
            background: #0099CD!important;
            box-shadow: 2px 2px 2px rgb(2, 105, 140)!important;
            border-radius:0px!important;
            
        }
        li{
           background: #0099CD!important;
           }
    }
